.layout{
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 2fr 6fr 1fr;
  grid-gap:10px;
  grid-template-areas: "header-area header-area header-area header-area" "sidebar-area main-area main-area main-area " "footer-area footer-area footer-area footer-area";
  background-color: beige;
}


.layout-header{
    background-color: orange;
    grid-area: header-area;
    align-items: center;
    text-align: center; 
}

.text{
    color: white;
}

.layout-sidebar{
    background-color:green;
    grid-area: sidebar-area;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    color: white;
    justify-content: center;
    padding-right: 40px; 
}

.layout-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    grid-area: main-area;
    background-color: beige;
    padding-bottom: 50px; 
}

.section-main{
    display: row;
    background-color: blueviolet;
    color: white;
    margin-right: 20px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    padding-bottom: 0px;
}

.layout-footer{
    background-color:skyblue;
    grid-area: footer-area;
    text-align: center;
    color: white;
    padding: 20px
}

.botton-compras{
    background-color: purple;
    color: white;
    padding: 20px;   
}

.books{
    width: 200px;
    height: 200px;  
}